# ─────────────────────
# Node & TypeScript
# ─────────────────────
node_modules/
dist/
.env
*.log
*.cache

# Build / Dev output
*.tsbuildinfo
.vite/
.next/
out/
build/
coverage/
firebase-debug.log*

# ─────────────────────
# OS / Editor
# ─────────────────────
.DS_Store
.vscode/
*.swp

# ─────────────────────
# Firebase
# ─────────────────────
.firebaserc
firestore.*
storage.rules
database.rules.json
serviceAccountKey.json

# ─────────────────────
# Others
# ─────────────────────
*.local
*.tmp
*.bak
